[submodule "homework/log4j-appender-extension"]
	path = homework/log4j-appender-extension
	url = https://github.com/lordoftheflies/log4j-appender-extension.git
[submodule "homework/wonderjam"]
	path = homework/wonderjam
	url = https://github.com/lordoftheflies/wonderjam.git
[submodule "homework/tictactoe"]
	path = homework/tictactoe
	url = https://github.com/lordoftheflies/tictactoe-java.git
[submodule "homework/rmq-sender"]
	path = homework/rmq-sender
	url = https://github.com/lordoftheflies/rmq-sender.git
[submodule "sample/jaas-example"]
	path = sample/jaas-example
	url = https://github.com/lordoftheflies/jaas-example.git
